h1{ 
  text-align: center;
  color:black;
  font-family:"Verdana";
  font-weight: bold;
  
}
body{ 
  background-color:lightgrey;
}
p{
  border:solid;
  border-color: black;
  color: black;
  font-size: 60px;
  font-weight: bold;
    
}
img:hover{
  border: black dashed;
  border-radius: 20%;
}
ul{ 
  list-style-type:none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  z-index: 10;
}
li a { 
  display: block;
  float:left;
  padding: 10px 180px;
  color: black;
  font-family:"Verdana";
  font-weight: bold;
  
 
}
li a:hover {  
  background-color:yellow;
  color: black;
