body{ 
  background-color:grey;
}
h2{ 
   color:black;
     font-size:300%; 
  font-family: Arial
}
    img{
      border:solid black  10px;
}
img:hover{ 
  border: red dashed
}
li,p{
  color:darkred;
    font-size:50px;
  margin-left: 800px;
  font-family: arial
}
ul{
 list-style:inside;
   list-style:numbered;
}
table, tr, td, th{ 
border: 8px solid black;
  border-collapse: collapse;
  font-size: 50px;


}
ul{ 
  list-style-type:none;
}
li a { 
  display: block;
  float:left;
  padding: 10px 100px;
  color: black;
}
li a:hover {  
  background-color:yellow;
  color: black;
  
  
