h1{ 
  text-align: center;
  color:black;
}
body{ 
  background-color:lightblue;
}
p{
  border:dashed;
  border-color: black;
  color: black;
  font size: 40px;
}
img:hover{
  border: black dashed;
  border-radius: 20%;
}
ul{ 
  list-style-type:none;
}
li a { 
  display: block;
  float:left;
  padding: 10px 100px;
  color: black;
}
li a:hover {  
  background-color:yellow;
  color: black;
  
  

  
